{"Version":2,"Mixers":{"Guid":"9bb370ae-f8c0-4391-989d-540da829f5a9","Name":"Master","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[{"Guid":"0b22da67-528b-4d88-87c5-369fe8368ce7","Name":"Music","Volume":1,"Mute":false,"Solo":false,"Processors":[{"Effect":"outside.small","Enabled":true,"Mix":1,"__type":"DspProcessor"},{"Amount":0.3,"Enabled":true,"Mix":1,"__type":"HighPassProcessor"}],"Children":[]},{"Guid":"d26c7ea7-9347-45d5-8437-235d5e65fe7a","Name":"Game","Volume":1,"Mute":false,"Solo":false,"IsDefault":true,"Processors":[{"Effect":"outside.large","Enabled":true,"Mix":1,"__type":"DspProcessor"}],"Children":[]},{"Guid":"c091caa8-6abd-4918-b51d-164a3d2758c6","Name":"UI","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[]}]},"__guid":"6d4223e9-20c9-45d2-a060-ecfc2ddc3a91","__schema":"configdata","__type":"MixerSettings","__version":2}